<form action="/users" method="post">
  <input name="username" type="text" placeholder="username">
  <input name="email" type="text" placeholder="email">
  <input name="password" type="text" placeholder="password">
  <input value="Submit" type="submit">
</form>
