<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
  <% end %>
</ul>

<form action="/links/new" method="get">
  <input value="Add Link" type="submit">
</form>
