<form method="post" action="/links">
  <input name="title" type="text" placeholder="title">
  <input name="url" type="text" placeholder="url">
  <input name="tags" type="text" placeholder="tags">
  <input value="Create Link" type="submit">
</form>
