<form action="/new_user" method="post">
  <input value="username" type="text" placeholder="username">
  <input value="password" type="text" placeholder="password">
  <input name="passwordcheck" type="text" placeholder="write password again">
  <input value="Submit" type="submit">
</form>
